body{
    background-image: linear-gradient(#fdd8ab, #ee97b0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: 0.3s;
}

#accordion > h3, #toggle {
    cursor: pointer;
}

#accordion > h3{
    margin: 0.5em 0 0 0;
    background-color: #d15d7f;
    text-align: center;
    border-radius: 5px;
}

#accordion > div {
    background-color: #f4a6b3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    box-shadow: 3px 3px 3px #fdd8ab;
    transition: 0.3s;
}

#accordion{
    width: 80%;
    max-width: 600px;
}

#change{
    align-self: flex-end;
    position: absolute;
    top: 10px;
    margin: 5px 20px;
}

#toggle{
    transform: scale(1.2);
}

.container{
    display: flex;
    justify-content: center;
    width: 100vw;   
}

.change-container {
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
}

.button {
    width: 120%;
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    background-color: #d15d7f; 
    transition: 0.3s;
}
